@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;700&family=Open+Sans:wght@300;400;600;700&display=swap");

html {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  max-width: 1920px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  color: #fff;
  background-color: #000000;

}

body {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  padding: 58px 57px 120px 77px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
  

a {
  text-decoration: none;
  outline: none;
  color: inherit;
}


.hero {
  margin: 0 auto;
  max-width: 1920px;
}

.hero_header {
  display: flex;
  justify-content: space-between;
  margin: 64px 84px;
  z-index: 100;
}

.logo {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.01em;
}

.hero_nav_menu {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}

.hero_nav_menu li:not(:first-child) {
  margin-left: 50px;
}

.hero_header_search {
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
}

.hero_header_search a {
  display: flex;
}

.hero_header_search p {
  margin: 0 0 0 14px;
}


.section-hero {
  position: relative;
  margin-top: 180px;
  max-width: 1920;
}

.hero_text_block {
  max-width: 950px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.section-hero::after {
  content: "";
  display: block;
  background: linear-gradient(245deg, rgba(0, 0, 0, 0) 35%, #000000 100%),
    url(../assets/images/hero-bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1920px;
  height: calc(100vh);
  margin: -724px auto 0 auto;
  z-index: -100;
  position: relative;
}

.hero_text_subtitle {
  position: relative;
  padding-left: 102px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #ffc178;
}
.hero_text_subtitle::before,
.section_subtitle::before {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  height: 2px;
  width: 72px;
  background-color: #ffc178;
}

.hero_text_title {
  margin-top: 32px;
  margin-bottom: 126px;
  font-weight: 700;
  font-size: 96px;
  line-height: 100px;
  text-transform: capitalize;
}

.hero_text_block h1 span {
  font-weight: 400;
  font-size: 88px;
}

.hero_text_scroll {
  align-self: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

.SM_block p {
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  transform: rotate(90deg);
}

.SM_block {
  position: absolute;
  left: 5vw;
  top: 1vh;
}

.SM_icons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SM_icons a {
  margin-top: 24px;
}


.east-nusa {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: -80px auto 250px auto;
  max-width: 1460px;
}

.section_subtitle{
  position: relative;
  padding-left: 102px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #ffc178;
}

.section_text {
  max-width: 630px;
}

.section_title {
  font-weight: 700;
  font-size: 64px;
  line-height: 87px;
}

.section_text_paragraph {
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
}

.section_read-more {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #fbd784;
}

.section_read-more img {
  margin-left: 9px;
}

/*Bromo section starts here*/

.bromo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 986px;
  max-width: 1460px;
  background: linear-gradient(330deg, rgba(0, 0, 0, 0) 31%, #000000 108%),
    url(../assets/images/steps-img.png);
  background-size: cover;
  position: relative;
  margin: 0 auto;
}

.arrows {
  display: flex;
  justify-content: space-between;
  max-width: 1460px;
  width: 90%;
  margin: 0 30px 40px;
}

.section_text-bromo {
  max-width: 934px;
  text-align: center;
}

.bromo .hero_text_subtitle {
  padding-left: 0px;
}

.section_text-bromo .section_subtitle::before {
  left: 389px;
  content: "";
  position: absolute;
  top: 10px;
  height: 2px;
  width: 72px;
  background-color: #ffc178;
}

.section_text-bromo .section_subtitle::after {
  content: "";
  position: absolute;
  right: 200 px;
  top: 10px;
  height: 2px;
  width: 72px;
  background-color: #ffc178;
}

.bromo .section_title {
  margin-top: 24px;
  margin-bottom: 27px;
}

.bromo .section_read-more {
  justify-content: center;
  padding-bottom: 40px;
}



.Ind_culture {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 227px auto 0 auto;
  max-width: 1460px;
}
.section__text-culture {
  width: 550px;  
}

.footer_block {
  max-width: 1460px;
  margin-top: 220px;
  margin-bottom: 110px;
  margin-left: auto;
  margin-right: auto;
}

.footer_row1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  }

.footer_QWERy_logo {
  margin-top: 12px;
  font-weight: 700;
  font-size: 32px;
  line-height: 87px;
}

.input {
  background: transparent;
  border: none;
  height: 70px;
  color: #fff;
  padding-right: 54px;
}

.input::placeholder {
  color: #fff;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: -0.3px;
}

.footer_row1-button {
  border-radius: 8px;
  background: #ffa343;
  width: 240px;
  height: 70px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}

.footer_row1_form-field {
  border: none;
  padding: 0px;
  margin: 0;
}

.footer_line {
  border-bottom: 2px solid #fff;
  opacity: 0.3;
  margin: 0 0 56px 0;
}

.footer_row2 {
  padding-right: 96px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.footer_row2_form-block {
  display: flex;
  flex-direction: column;
}

.footer_row2_form-text {
  width: 360px;
  font-weight: 700;
  font-size: 34px;
  line-height: 50px;
  letter-spacing: -0.3px;
  margin-top: 0;
  margin-bottom: 50px;
}

.mail-input {
  width: 330px;
  background: transparent;
  border: none;
  height: 70px;
  color: #fff;
  padding-left: 10px;
  font-size: 14px;
  line-height: 20px;
}
.mail-input::placeholder {
  color: #fff;
  opacity: 0.5;
  font-size: 14px;
  line-height: 20px;
}

.newsletter_form_field {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.button-go {
  border-radius: 8px;
  background: #ffa343;
  width: 70px;
  height: 70px;
}

.footer_row2_nav {
  display: flex;
  flex-wrap: wrap;
}

.row2_nav_link {
  color: #fff;
}

.row2_nav_item {
  margin-bottom: 18px;
}

.footer_row2_nav_list:first-child,
.footer_row2_nav_list:last-child,
.footer_row2_nav_list:nth-child(2) {
  color: #ffd1a0;
  margin-left: 184px;
  padding: 0;
}

.footer_row2_nav_list:first-child {
  margin-left: 0px;
}

.footer_row3_SM {
  display: flex;
  margin: 0;
  padding: 0;
}

.footer_row3{
  display: flex;
  padding-left: 40px;
  padding-right: 40px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 156px;
}

.footer_SM_item {
  margin-left: 35px;
}
.footer_SM_item:first-child {
  margin-left: 0;
}

.terms {
  display: flex;
  align-items: center;
}

.terms-item {
  font-family: "DM Sans", sans-serif;
  letter-spacing: -0.2px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-right: 50px;
}

.copyright {
  margin-left: 630px;
  opacity: 0.5;
}
