/* Download font 'Poppins' from the internet */
/* If you'd like, you could use your own font. Please go to https://fonts.google.com/ and choose your favourite */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@300;400;500;700&display=swap");

/* This is called CSS Custom Properties */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */
:root {
  --main-bg-color: #dbac74;
  --color-black: #383838;
  --color-white: #ffffff;
  --color-main: #5e659d;
  --color-orange: #dbac74;
}

/* COMMON PAGE STYLES */
html {
  /* Apply download font "Poppins" by setting that on the first position in a row */
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  background-color: var(--main-bg-color);
  color: var(--color-white);
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-left: 165px;
  padding-right: 165px;
  background: url("../assets/images/background-page-landing.png") no-repeat
    center right;
}

.btn {
  padding: 10px 15px;
  font-size: 40px;
  font-weight: 400;
  line-height: 60px;
  color: var(--color-white);
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 20px;
  background-color: var(--color-main);
}

.hidden {
  display: none;
}

.page-header {
  display: flex;
  align-items: center;
  padding-top: 45px;
  font-size: 32px;
  line-height: 48px;
}

.page-header a {
  margin-right: 10px;
  color: var(--color-white);
  text-decoration: none;
}

.page-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 152px;
  height: 100px;
  background-image: url("../../assets/icons/logo.svg");
  background-repeat: no-repeat;
}

.page-nav__list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.page-nav__item:not(:last-child) {
  margin-right: 60px;
}

.landing {
  width: 830px;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing__header {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 110px;
  line-height: 165px;
  font-weight: 300;
}

.landing__text {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 34px;
  line-height: 51px;
}

.feature {
  width: 960px;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feature__header {
  margin-top: 0;
  margin-bottom: 5%;
  font-size: 96px;
  line-height: 144px;
  font-weight: 400;
}

.feature__list {
  width: 780px;
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 5%;
  padding-left: 0;
  list-style: none;
}

.feature__text {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 36px;
}

.page-form {
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form {
  width: 780px;
}

.form__wrapper {
  margin-bottom: 40px;
  box-sizing: border-box;
  padding: 50px 65px 55px 45px;
  border-radius: 20px;
  background-color: var(--color-main);
}

.form__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form__row:not(:last-child) {
  margin-bottom: 45px;
}

.form__row label {
  font-size: 32px;
  line-height: 48px;
}

.form__row input {
  width: 500px;
  height: 65px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 32px;
  line-height: 48px;
  color: var(--color-black);
  box-sizing: border-box;
  border: 4px solid var(--color-orange);
  border-radius: 20px;
}

.form__btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.page-footer {
  margin-top: auto;
  padding-bottom: 20px;
}

.page-footer__list {
  display: flex;
  padding-top: 0;
  padding-left: 0;
  list-style: none;
}

.page-footer__item:not(:last-child) {
  margin-right: 80px;
}

.page-footer__item a {
  font-size: 20px;
  line-height: 30px;
  color: var(--color-white);
  text-decoration: none;
}
